<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="caminho" value="D:\Temp\" />
		<add key="NomeBancoAnimais" value ="animais.csv"/>
		<add key="NomeBancoCliente" value ="cliente.csv"/>
		<add key="NomeBancoEspecie" value ="especie.csv"/>
		
	</appSettings>

</configuration>